<div dotioParallax [ratio]="0.01" class="background one"></div>
<div dotioParallax [ratio]="0.02" class="background two"></div>
<div dotioParallax [ratio]="0.03" class="background three"></div>
<div dotioParallax [ratio]="0.04" class="background four"></div>
<div dotioParallax [ratio]="0.05" class="background five"></div>
<div dotioParallax [ratio]="0.06" class="background six"></div>
<div dotioParallax [ratio]="0.07" class="background seven"></div>
<div dotioParallax [ratio]="0.08" class="background eight"></div>
<div dotioParallax [ratio]="-0.1" class="background nine"></div>

<div class="content">
  <dotio-content></dotio-content>
</div>