@import "../dotio-theme.scss";

$tabWidth: 90px;

nav {
  min-width: calc(#{$tabWidth} * 4 * 2);
  max-width: calc(#{$tabWidth} * 4 * 2);
  margin-left: auto;
  ul {
    display: flex;
    justify-content: space-evenly;
    li {
      min-width: $tabWidth;
      max-width: $tabWidth;
      text-align: center;
      list-style: none;
      padding: 1rem;
      border-bottom: 3px solid $accent;
      h1 {
        font-size: 1.75rem;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
        background-color: transparentize($color: $accent, $amount: 0.35);
      }
    }
  }
}
