/**
 * general base styling
 **/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

footer {
  margin-top: auto;
  margin-bottom: 1rem;
}

header h1 a {
  color: black;
  border-bottom: none; 
}

header a h1:hover {
  background: rgba(170, 85, 231, 0.15);
}

::selection {
  background: rgba(170, 85, 231, 0.1);
}
::-moz-selection {
  background: rgba(170, 85, 231, 0.1);
}

/**
 * base text styling
 **/

a {
  text-decoration: none;
  color: #aa55e7;
  border-bottom: 1px solid black;
}

a:hover {
  background: rgba(170, 85, 231, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

/**
 * layout styles 
 **/

.row {
  max-width: 800px;
  margin: 0 auto;
}

/**
 author tile styling
 **/

.author-tile {
  display: flex;
}

.author-tile img {
  border-radius: 50%;
  height: 3.5rem;
  align-self: center;
  margin: 0.75rem;
  box-shadow: 0 0 2px rgba(170, 85, 231, 0.25);
}

.author-tile .text {
  align-self: center;
}

.author-tile .text p {
  margin: 0.15rem;
}

/**
 signin and form styling
 **/

.signin-container {
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 600px;
  overflow: hidden;
  border-radius: 2px;
}

.form-messages {
  height: 51px;
}

.form-messages ul {
  padding: 0;
  margin: 0;
}

.form-messages ul li {
  list-style-type: none;
  background: rgba(170, 85, 231, 0.25);
  padding: 1rem;
}

.form-messages ul li.error {
  background: rgba(197, 52, 47, 0.25);
}

.form-messages ul li.success {
  background: rgba(32, 168, 43, 0.25);
}

.form-messages ul li {
  list-style-type: none;
}

.signin-content-container {
  display: flex;
}

.signin-form {
  margin: 2rem 1rem 1rem 1rem;
}

.signin-form h4 {
  color: #aa55e7;
}

.signin-form form {
  width: 250px;
}

form .field input {
  width: 100%;
  padding: 0;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #aa55e7;
}

form button {
  background: white;
  border: 1px solid #aa55e7;
  border-radius: 20px;
  color: #aa55e7;
  margin: 1rem 0;
}

.signin-container .signin-graphic img {
  width: 365px;
}
